<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    
    <property name="LOG_HOME" value="/web/logs/app/springcloud-first/provider-feign" />

    <contextName>logback</contextName>
    <substitutionProperty name="max.size" value="200MB" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{tid}] %date{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|[%thread]|%logger{56}.%method\(\):%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/mock.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="UTF-8">
            <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] [%X{tid}] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="console"/>
        <appender-ref ref="FILE"/>
    </root>
    
</configuration>